/* обнулящие свойства */
a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

ul li {
    list-style: none;
}


/* обнулящие свойства end*/
/*      Custom styles and rules     */
body {
    background-color: lemonchiffon;
}

.lead {
    font-family: 'Kurale', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    padding-top: 0px;

}

.form__btn {
    background-color: rgba(96, 76, 76, 1);
    font-size: 17px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    padding: 10px 20px;
}

.main-app {
    background-image: url('../img/background/main-app__block.jpg');
    margin-top: 2%;
    background-size: cover;

}

.main-app__header--selectedCity,
.main-btn,
.form__label-stile,
.form__btn,
.form-input,
.main-app-stile {
    color: #fff;
    font-family: 'Kurale', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    text-align: left;
}

.main-app-stile {
    font-size: 25px;
}

.main-app__header {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;

}

.main-btn {
    background-color: rgba(96, 76, 76, 1);
    font-size: 15px;
    font-weight: 800;
    line-height: 19px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border: none;
}

.form-input {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);

}

.main-app__btn-span {
    padding-left: 30px;
    padding-right: 30px;
}

.main-app__header {
    /* background-color: #ddd;*/
    color: #008;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 16px;
}

.main-app__header--marginTop {
    margin-top: 8px;
}



.main-app__content {
    margin-top: 20px;
    padding-bottom: 16px;

}

.restaurants {
    margin-top: 30px;
    border-top: 1px solid #fff;
}

.footer {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    border-radius: 20px;

}

.main-app__footer {
    padding-top: 36px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer__item,
.footer__title,
.footer-btn,
.main-app-title {
    color: #fff;
    font-family: 'Kurale', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    text-align: left;
}


.footer__title {
    font-size: 24px;
    line-height: 30px;
}

.footer__item {
    font-size: 20px;
    line-height: 25px;
}

.footer-btn {
    font-size: 14px;
    line-height: 17px;
    background-color: rgba(96, 76, 76, 0.5);
    border: none;
}

.img__top-rest {
    height: 180px;
}


/*body*/
.restoran__card {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;


}


.card {
    min-height: 330px;
}

.card-body__addresses {
    font-weight: 700;
}

.card__body:hover {
    background-color: #5c5a5a;
    /*todo color no work in hover*/
    color: #ddd;
}

.card-body {
    color: #000;
}

/*main-app */
.main-app__menu {
    border-right: 1px solid #bbb6b6;
    color: #fff;
    padding-top: 20px;


}

.cards__block {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cards__block .card-menu {
    margin: 5px 7px;
    flex: 0 1 23%;


}

.top-resroran {
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-image: url('../img/background/Rectangle1.jpg');*/
    background-size: cover;
}

.main-addres {}

.dropdown-toggle {
    margin-bottom: 15px;
}

.list-group-item {
    line-height: 10px;
}

.card__title-menu {
    margin: 0px;
    padding: 0px;
    line-height: 20px;

}

.cart__main {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 32px;
    right: 0;
    width: 64px;
    height: 48px;
    border: 3px double #5c5a5a;
    text-align: center;
    background-color: #ddd;
    color: #444
}

.cart__modal--footer {
    padding: 15px;
    text-align: center;
}

}

/*main-app end*/
/*body end*/